{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4">📝 Latest Blogs</h3>

<div class="row">
    {% for b in blogs %}
    <div class="col-md-4">
        <a href="/blogs/{{ b.id}}/" style="text-decoration:none;color: black;">
        <div class="card shadow-sm mb-4">

            {% if b.image %}
            <img src="{{ b.image.url }}" style="height:200px; object-fit:cover;">
            {% endif %}

            <div class="card-body">
                <h5>{{ b.title }}</h5>

                <p class="text-muted">
                    {{ b.content|truncatechars:100 }}
                </p>

                <!-- ✅ Read More Button -->
                <a href="/blogs/{{ b.id }}/" class="btn btn-dark w-100">
                    Read More →
                </a>

            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}